<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>Gamanza Wallet</title>
    </head>
    <body>
        <div class="container-fluid px-0 fixed-top header">
            <div class="container">
                <div class="row justify-content-between align-items-center px-1">
                    <div class="col-auto my-4">
                        <a href="/"><img src="/assets/gamanza_logo.png" class="logo"></a>
                    </div>
                    <div class="col-auto">
                        {{!-- @exphbs.view contains the inner template name that we rendered --}}
                        {{#ifeq @exphbs.view 'login'}}
                            <a href="/register" class="btn btn-outline-light">Register</a>
                        {{/ifeq}}
                        {{#ifeq @exphbs.view 'register'}}
                            <a href="/login" class="btn btn-outline-light">Login</a>
                        {{/ifeq}}
                        {{#ifeq @exphbs.view 'index'}}
                            <div class="row align-items-center">
                                <div class="col-auto pr-1">
                                    <div class="text-right email">
                                        {{email}}
                                    </div>
                                    <div class="text-right balance">
                                        <span class="balance-value" data-initial="{{balance}}">- €</span>
                                    </div>
                                </div>
                               <div class="col-auto">
                                {{!-- mark request as DELETE with _method url parameter because of using method-override node package --}}
                                <form style="display: inline;" action="/logout?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-outline-light">Log Out</button>
                                </form>
                                </div>
                            </div>
                        {{/ifeq}}
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-2 content">
            {{{body}}}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        {{!-- use AutoNumeric.js library for displaying and formating balance amount --}}
        <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.1.0"></script>
        {{{template_script}}}
    </body>
</html>