<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7">
        <div class="section alert alert-danger alert-dismissible error-general">
            <span class="error-text"></span>
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>
        <div class="section">
            <div class="alert alert-danger alert-dismissible py-2 px-3 error-deposit">
                <span class="error-text"></span>
                <button type="button" class="close py-2 px-3" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
            <div class="description">Deposit to balance</div>
            <div class="input-group">
                <input class="form-control amount-deposit" type="text">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary action" type="button" id="deposit">
                        <span class="spinner-border spinner-border-sm"></span>
                        Deposit
                    </button>
                </div>
            </div>
            
        </div>
        <div class="section">
            <div class="alert alert-danger alert-dismissible py-2 px-3 error-withdrawal">
                <span class="error-text"></span>
                <button type="button" class="close py-2 px-3" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
            <div class="description">Withdrawal balance</div>
            <div class="input-group">
                <input class="form-control amount-withdrawal" type="text">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary action" type="button" id="withdrawal">
                        <span class="spinner-border spinner-border-sm"></span>
                        Withdrawal
                    </button>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="alert alert-danger alert-dismissible py-2 px-3 error-transfer">
                <span class="error-text"></span>
                <button type="button" class="close py-2 px-3" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
            <div class="description">Transfer balance to another user</div>
            <div class="input-group">
                <input class="form-control transfer-email" type="text" placeholder="Recipient's email">
                <input class="form-control amount-transfer" type="text">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary action" type="button" id="transfer">
                        <span class="spinner-border spinner-border-sm"></span>
                        Transfer
                    </button>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="description">Transaction history</div>
            <table class="transactions table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Source</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transactions}}
                        <tr class="transaction" data-id="{{this.transactionid}}">
                            <td>{{date this.timestamp}}</td>
                            <td class="transaction-type" {{{transfer_data this}}}>{{this.type}}</td>
                            <td>{{this.source}}</td>
                            <td class="transaction-amount" data-amount="{{this.amount}}">- €</td>{{!-- amount is set to - € because it is formatted on the client side --}}
                        </tr>
                    {{else}}
                        <tr>
                            <td class="transactions-empty" colspan="4">
                                There are no transactions
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{assign_script '/js/websocket.js'}}