<div class="row justify-content-center my-4">
    <div class="col-auto heading">Login to Gamanza Wallet</div>
</div>
<div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <form action="/login" method="POST">
            {{#if success_message}}
                <div class="alert alert-success">
                    {{success_message}}
                </div>
            {{/if}}
            {{#if messages.error}}
                <div class="alert alert-danger">
                    {{messages.error}}
                </div>
            {{/if}}
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>