<div class="row justify-content-center my-4">
    <div class="col-auto heading">Register a new account    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <form action="/register" method="POST">
            {{#if error_message}}
                <div class="alert alert-danger">
                    {{error_message}}
                </div>
            {{/if}}
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>