body {
    color: #24292e;
}

.header {
    color: white;
    background-color: #24292e;
}

.header a {
    color: white;
}

.header a:hover {
    text-decoration: none;
}

.logo {
    width: 130px;
}

.heading {
    font-size: 1.4em;
}

svg.user-img {
    height: 64px;
    width: 64px;
    fill: #24292e;
}

.email {
    font-size: 1em;
    font-weight: bold;
}

.balance {
    font-size: 1em;
}

.content {
    margin-top: 81px;
}

.error-general, .error-deposit, .error-withdrawal, .error-transfer {
    display: none;
}

.alert .close:focus {
    outline: 0;
}

.section:not(.alert) {
    margin-top: 35px;
}

.section .description, .section .alert {
    margin-bottom: 5px;
}

.action:not(:disabled) .spinner-border-sm {
    display: none;
}

.action:disabled {
    cursor: not-allowed;
}

.transactions-empty {
    text-align: center;
}